.list {
    display: flex;
    flex-wrap: wrap;
}


.inline-block-child {
    display: inline-block;
}

.form-control {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-left: 5px solid #0c5eda;
}

.my-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.301);
}