<nav class="navbar navbar-dark navbar-expand-md bg-primary">
  <a class="navbar-brand" routerLink="home">BestCompanyNA</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="network" routerLinkActive="active" class="nav-link">Network</a>
      </li>
      <li class="nav-item">  
        <a routerLink="jobs" routerLinkActive="active" class="nav-link">Jobs</a>
      </li>
      <li class="nav-item">
        <a routerLink="messaging" routerLinkActive="active" class="nav-link">Messaging</a>
      </li>  
      <li class="nav-item">
        <a routerLink="notifications" routerLinkActive="active" class="nav-link">Notifications</a>
      </li>
      <li class="nav-item">
        <a routerLink="myprofile" routerLinkActive="active" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a routerLink="settings" routerLinkActive="active" class="nav-link">Settings</a>
      </li>
    </ul>
    
    <button class="btn btn-primary" (click)="onLogout()">
      <i class="fa fa-sign-out icon" aria-hidden="true" style="font-size:17px;"></i>
      Logout</button>
    
  </div>
</nav>

<router-outlet></router-outlet>  