


<div *ngIf="!hidden">
<div class="card">
  <a [routerLink]="['../profile', userID]">
    <div class="card-img-top">
    <img [src]="pictureSrc || '../../assets/images/profile-placeholder.png'" id="profile-picture">
    </div>
    <div class="card-body">
      <h2>{{model.firstName}} {{model.lastName}}</h2>
      <p class="title" *ngIf="!notification">{{model.job}}</p>
    </div>
  </a>
    <div class="card-footer" *ngIf="notification">
      <a class="btn btn-success btn-sm mybutton" (click)="onFriendAccept()">
          <i class="fa fa-check-circle fa-2x"></i>
      </a>
      <a class="btn btn-danger btn-sm mybutton" (click)="onFriendDecline()">
          <i class="fa fa-times-circle fa-2x"></i>
      </a>
    </div>
  


</div>

