<p>
  home works!
</p>

<div class="list">

<app-profile-card [userID]="3" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>
<app-profile-card [userID]="2" ></app-profile-card>


</div>